.chart-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
}
.chart {
   display: flex;
   width: 40%;
}

.v-spacer {
    width: 10%;
}

.h-spacer {
    height: 50px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.page-title {
    text-align: center
}